/* Write your CSS here */
/* Write your CSS here */
/* Write your CSS here */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ipl-logo {
  height: 38px;
  width: 38px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .ipl-logo {
    height: 62px;
    width: 62px;
    margin-right: 15px;
  }
}

.home-heading {
  color: white;
  font-family: 'Bree-Serif';
  font-weight: bold;
  font-size: 32px;
}

@media screen and (min-width: 768px) {
  .home-heading {
    font-size: 52px;
  }
}

.loader-container {
  display: flex;

  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.teams-list {
  display: flex;
  padding-left: 0px;
  flex-wrap: wrap;
}
